@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.form-group label {
    font-weight: 600;
}

.form-group input {
    border: none;
    padding: 10px 2px 5px 2px;
    border-bottom: 1px solid #ccc
}
.form-group input::placeholder {
    color: #b3aeae;
    font-size: 1.4rem;
}

.form-group input:focus {
    outline: none;
}
