@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Slab", serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.form-group label {
    font-weight: 600;
}

.form-group input {
    border: none;
    padding: 10px 2px 5px 2px;
    border-bottom: 1px solid #ccc;
}
.form-group input::placeholder {
    color: #b3aeae;
    font-size: 16px;
}

.form-group input:focus {
    outline: none;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.price-tag {
    border-radius: 84% 1% 16% 82% / 43% 0% 0% 40%;
}
